#if(!$objects.get(0).getRoleType())

#foreach($object in $objects)

#if($object.targetRef.getType().getLocalPart() == "ArchetypeType")
[.underline]**Archetype**

$!processor.translator($!object.documentation)
[cols=4,options=header]
|===
|Operation
|OID
|Type
|Relation

|**targetRef**

|$!processor.translator($object.targetRef.getOid())

|$!processor.translator($object.targetRef.getType().getLocalPart())

|$!processor.translator($object.targetRef.getRelation())

|**Parameter**
|**Value**
|**Parameter**
|**Value**

|**Description**
|$!processor.translator($!object.description)
|**Subtype**
|$!processor.translator($!object.subtype)

|===

#end

#end
#foreach($object in $objects)
#if($object.targetRef.getType().getLocalPart() != "ArchetypeType")
**Assignment**

$!processor.translator($!object.documentation)
[cols=4,options=header]
|===
|Operation
|OID
|Type
|Relation

|**targetRef**

|$!processor.translator($object.targetRef.getOid())

|$!processor.translator($object.targetRef.getType().getLocalPart())

|$!processor.translator($object.targetRef.getRelation())

|**Parameter**
|**Value**
|**Parameter**
|**Value**

|**Description**
|$!processor.translator($!object.description)
|**Subtype**
|$!processor.translator($!object.subtype)

|===

#end
#end
#end
