#if($objects)
#foreach($object in $objects)

#if($object)
**Inducement**

$!processor.translator($!object.construction.documentation)

[cols=4,options=header]
|===
|Operation
|OID
|Type
|Relation

|**resourceRef**
|<<oid_$!processor.translator($object.construction.resourceRef.getOid()),**$!processor.translator($object.construction.resourceRef.getOid())**>>

|$!processor.translator($object.construction.resourceRef.getType().getLocalPart())

|$!processor.translator($object.construction.resourceRef.getRelation())

|**Parameter**
|**Value**
|**Parameter**
|**Value**

|**kind**
|$!processor.translator($!object.construction.kind)
|**intent**
|$!processor.translator($!object.construction.intent)

|**Description**
|$!processor.translator($!object.description)
|**focusType**
|$!processor.translator($!object.focusType)

|===

#end
#end
#end