=== $!processor.translator($!utils.getOrig($object.getName()))

$!processor.translator($!object.getDescription())

$!processor.translator($!utils.stripIndent($object.getDocumentation()))

#foreach($expression in $object.getFunction())
==== $!processor.translator($expression.getName())

$!processor.translator($!expression.getDescription())

===== Parameters

[cols=2,options=header]
|===
|Parameter
|Value

#foreach($parameter in $expression.getParameter())
|$!processor.translator($!parameter.getName())
| $!processor.translator($!parameter.getType())

#end
|===

===== Return Type

$!processor.translator($expression.getReturnType())

#end
## todo describe functions
