[[oid_$object.getOid()]]
=== $!processor.translator($!utils.getOrig($object.getName()))
Object OID : **$object.getOid()**

$!processor.translator($!object.getDescription())

$!processor.translator($!utils.stripIndent($object.getDocumentation()))

[cols=2,options="header"]
|===
|Key | Label

#foreach($row in $object.getRow())
|$!processor.translator($row.getKey())
|$!processor.translator($row.getLabel())
#end

|===
