## main object: $objects (List<? extends ObjectType>)

[cols=3,options=header]
|===
|Name
|Description
|Oid

#foreach($object in $objects)
|$!processor.translator($object.name.orig)
|$!processor.translator($!object.description)
|$!processor.translator($object.oid)

#end
|===
