=== $!processor.translator($!utils.getOrig($object.getName()))

$!processor.translator($!object.getDescription())

$!processor.translator($!utils.stripIndent($object.getDocumentation()))

[cols=2,options=header]
|===
|Parameter
|Value

|Identifier
#if ($object.identifier)
|$!processor.translator($object.identifier)
#else
| --not specified--
#end

|Display name
#if ($object.displayName)
|$!processor.translator($object.displayName)
#else
| --not specified--
#end


|Indestructable
#if ($object.indestructible)
|$!processor.translator($object.indestructible)
#else
|false
#end
|===

#if ($object.roleMembershipRef || $object.parentOrgRef)

[cols=3,options=header]
|===
|Operation
|OID
|Type

#if ($object.parentOrgRef)
#foreach($parentOrgRef in $object.parentOrgRef)
|**parentOrgRef**

|$!processor.translator($parentOrgRef.getOid())

|$!processor.translator($parentOrgRef.getType().getLocalPart())

#end

#end

#if ($object.roleMembershipRef)
#foreach($roleMembershipRef in $object.roleMembershipRef)
|**roleMembershipRef**

|$!processor.translator($roleMembershipRef.getOid())

|$!processor.translator($roleMembershipRef.getType().getLocalPart())

#end

#end
|===

#end

#if ($object.assignment)
==== Assignments
    #set($objects = $object.assignment)
    #parse("/template/assignment.vm")
#end
#if ($object.inducement)
==== Inducements
    #set($objects = $object.inducement)
    #parse("/template/inducement.vm")
#end



