[[oid_$object.getOid()]]
=== $!processor.translator($!utils.getOrig($object.getName()))

$!processor.translator($!object.getDescription())

$!processor.translator($!utils.stripIndent($object.getDocumentation()))

==== Basic Information

[discrete]
===== Connector

#set($connectorXNode = $object.getConnectorRef().getFilter().getFilterClauseXNode().get("equal").get("value"))

#set($connectorValue = $utils.findIndices($connectorXNode))

#if(!$connectorValue)
    #set($connectorXNode = $object.getConnectorRef().getFilter().getFilterClauseXNode().get("and").get("equal").get(0))
    #set($connectorValue = $utils.findIndices($connectorXNode))
    #set($connectorXNode = $object.getConnectorRef().getFilter().getFilterClauseXNode().get("and").get("equal").get(1))
    #set($connectorValueVersion = $utils.findIndices($connectorXNode))
#end

* **Connector type:**  $!processor.translator($!connectorValue)
* **Connector version:** $!processor.translator($!connectorValueVersion)


[discrete]
===== Connector Configuration

[cols=3,options=header]
|===
|Parameter
|Value
|Description

#foreach($attribute in $utils.getConnectorConfiguration($object))
|$!processor.translator($!attribute.getName())
|$!processor.translator($!attribute.getValue())
|$!processor.translator($!attribute.getDescription())

#end
|===

#set($handlersConfig=$utils.getResultsHandlerConfiguration($object))

#if(!$handlersConfig.isEmpty())
[discrete]
===== Results Handlers Configuration

[cols=2,options=header]
|===
|Parameter
|Value

#foreach($attribute in $handlersConfig)
|$!processor.translator($!attribute.getName())
|$!processor.translator($!attribute.getValue())

#end
|===

#end

#set($native = $object.getCapabilities().getNative())
#set($configured = $object.getCapabilities().getConfigured())
#if ($native || $configured)
[discrete]
===== Capabilities
#if ($native)
[discrete]
====== Native
#set($capabilities = $native)
#parse("/template/capabilities-native.vm")
#end

#if ($configured)
[discrete]
====== Configured
#set($capabilities = $configured)
#parse("/template/capabilities-configured.vm")
#end
#end

==== Object Types
##todo sort
#foreach($type in $object.getSchemaHandling().getObjectType())
===== $!processor.translator($!utils.getNameOfObjectType($type))

$!processor.translator($!type.getDescription())

$!processor.translator($!type.getDocumentation())

#if($type.getAttribute())

[cols=2,options=header]
|===
|Attribute
|Description
#foreach($attribute in $utils.sortAttributes($type.getAttribute()))
|$!processor.translator($!attribute.getRef().toString()) #if ($attribute.getDisplayName()) ($!processor.translator($!attribute.getDisplayName())) #end
|$!processor.translator($!attribute.getDocumentation())
$!processor.translator($!attribute.getDescription())

#end
|===

#end

#if($type.getAttribute())
====== Attribute Details

#foreach($attribute in $utils.sortAttributes($type.getAttribute()))
[role="attribute-section"]
--
*$!processor.translator($!attribute.getRef().toString())* #if ($attribute.getDisplayName()) *($!processor.translator($!attribute.getDisplayName()))* #end

#if (!$attribute.getInbound().isEmpty())
[.underline]#Inbounds#

#set($mappings = $attribute.getInbound())
#parse("/template/mappings.vm")
#end

#if ($attribute.getOutbound())
[.underline]#Outbound#

#set($mappings = $utils.asList($attribute.getOutbound()))
#parse("/template/mappings.vm")
#end
--
#end
#end

#if ($type.getCredentials())
[role="attribute-section"]
--

[.important-attributes]#Credentials#

#if (!$type.getCredentials().getPassword().getInbound().isEmpty())
[.underline]#Inbounds#

#set($mappings = $type.getCredentials().getPassword().getInbound())
#parse("/template/mappings.vm")
#end

#if ($type.getCredentials().getPassword().getOutbound())
[.underline]#Outbound#

#set($mappings = $type.getCredentials().getPassword().getOutbound())
#parse("/template/mappings.vm")
#end
--
#end
#if ($type.getActivation())
[role="attribute-section"]
--

[.important-attributes]#Activation#

#if ($type.getActivation().getExistence())
**Existence: **

#if (!$type.getActivation().getExistence().getInbound().isEmpty())
[.underline]#Inbounds#

#set($mappings = $type.getActivation().getExistence().getInbound())
#parse("/template/mappings.vm")
#end

#if ($type.getActivation().getExistence().getOutbound())
[.underline]#Outbound#

#set($mappings = $type.getActivation().getExistence().getOutbound())
#parse("/template/mappings.vm")
#end
#end
#if ($type.getActivation().getAdministrativeStatus())
**Administrative status: **

#if (!$type.getActivation().getAdministrativeStatus().getInbound().isEmpty())
[.underline]#Inbounds#

#set($mappings = $type.getActivation().getAdministrativeStatus().getInbound())
#parse("/template/mappings.vm")
#end

#if ($type.getActivation().getAdministrativeStatus().getOutbound())
[.underline]#Outbound#

#set($mappings = $type.getActivation().getAdministrativeStatus().getOutbound())
#parse("/template/mappings.vm")
#end
#end
--
#end
#if ($type.getAssociation())
[role="attribute-section"]
--

[.important-attributes]#Association#

[cols=2,options=header]
|===
|Element
|Value

#foreach($association in $type.getAssociation())
|ref
|$!processor.translator($association.ref)

|tolerant
|$!processor.translator($association.tolerant)

|kind
|$!processor.translator($association.getKind())

| intent
#foreach($intent in $association.getIntent())
|$!processor.translator($intent)
#end

|direction
|$!processor.translator($association.getDirection())

|associationAttribute
|$!processor.translator($association.getAssociationAttribute())

|valueAttribute
|$!processor.translator($association.getValueAttribute())

|===
#end
--
#end
#end

#if ($object.getSynchronization())
#set ($synchronization = $object.getSynchronization())
==== Synchronization
## todo
#if ($synchronization.getObjectSynchronizationSorter())
===== Sorter
### todo sorter

#end

#foreach($obj in $synchronization.getObjectSynchronization())
## todo improve
===== $!utils.getNameOfObjectType($obj)

##### todo describe object synchronization

#end

#end

