=== $!processor.translator($!utils.getOrig($object.getName()))

$!processor.translator($!object.getDescription())

$!processor.translator($!utils.stripIndent($object.getDocumentation()))

#set($includeRef = $object.getIncludeRef())
#if ($includeRef)
==== Include References
#set($references=$includeRef)
#parse("/template/references.vm")
#end

#set($iterationSpecification = $object.getIterationSpecification())
#if ($iterationSpecification)
==== Iterator Specification
#set($headingLevel=5)
#parse("/template/iterationSpecification.vm")
#end

#set($items = $object.getItem())
#if ($items)
==== Items
#set($lookUpTables=$processor.loadLookupTables())

#foreach($item in $items)
[discrete]
==== $!processor.translator($item.ref)



#foreach($limit in $item.getLimitations())
[cols=2,options=header]
|===
|Property |Value

|Add | $!processor.translator($limit.getAccess().isAdd())
|Modify | $!processor.translator($limit.getAccess().isModify())
|Read | $!processor.translator($limit.getAccess().isRead())

|===
#end
#if($item.getValueEnumerationRef().getOid())
Lookup table OID : **$item.getValueEnumerationRef().getOid()**
#end

#end
#end

#set($mappings = $object.getMapping())
#if ($mappings)
==== Mappings
#parse("/template/mappings.vm")
#end

##todo describe mappings, items, archetypes, includeRef, iterations
